body{
    background-color: white;
    color:black;
    padding: 25px;
}

header{
    padding: 20px;
    text-align: center;
}
nav{
    padding-right: 15px;
}
a{
    padding-right: 10px;
}
a:link{
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:visited{
    color: brown;
    background-color: transparent;
    text-decoration: underline;
}
a:hover{
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
